<div
	(contextmenu)="handleRightClick($event)"
	(click)="handleClick()"
	class="service-card"
>
	<div class="card-header">
		<div class="icon-wrapper">
			<i class="fa-solid fa-magic-wand-sparkles text-sm"></i>
		</div>
		<h3 class="card-title">
			{{ service().name }}
		</h3>
	</div>
	<p class="card-description">
		{{ service().description }}
	</p>
	<div class="card-footer">
		<span>{{ service().durationSeconds / 60 }} Mins</span>
		<span class="price-badge">CHF 120</span>
	</div>
</div>

@if (activeMenuId() === service().id) {
	<div
		class="context-menu"
		[style.top.px]="menuPosition().y"
		[style.left.px]="menuPosition().x"
	>
		<ul class="context-menu-list">
			<li class="context-menu-item">
				<button
					(click)="handleClick()"
					class="context-btn"
				>
					Select Service
				</button>
			</li>
			<li class="context-menu-item border-t">
				<button
					(click)="activeMenuId.set(null)"
					class="context-btn btn-danger"
				>
					Cancel
				</button>
			</li>
		</ul>
	</div>
}
