<div class="service-list-container">
	<div class="list-header">
		<h2 class="sub-title">Our Offerings</h2>
		<p class="main-title">Select a Service Below</p>
	</div>

	@if (keycloakService.hasRole('ROLE_admin')) {
		<div class="admin-actions">
			<button class="btn btn-primary" (click)="router.navigate(['/service/new'])">
				Add New Service
			</button>
		</div>
	}

	<div class="services-grid">
		@for (service of serviceList(); track $index) {
			<app-service
				[service]="service"
				(editServiceId)="handleServiceEdit($event)"
				(bookServiceId)="handleServiceId($event)"
			></app-service>
		}
	</div>
</div>
