:host {
	display: block;
	width: 100%;
	height: 100%;
}

button {
	width: 100%;
	height: 100%;
	display: block;
	background: none;
	border: none;
	cursor: pointer;
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	outline: none;

	// Default date button style:
	font-weight: 500;
	color: #1e293b;
	padding: 0.625rem 0; // py-2.5 (10px) is applied inside the button so the entire box is clickable!
	border-radius: 0.75rem;
	transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		background-color: rgba(255, 255, 255, 0.8);
		color: #4f46e5;
	}
}

// When the host component has class .gradient-button (meaning it is selected) 🐾
:host(.gradient-button) button {
	font-weight: 700;
	color: #0f172a;
	background-image: linear-gradient(135deg, #eadeca, #c8b195, #eadeca);
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.4);
	outline: 2px solid rgba(99, 102, 241, 0.2);
	outline-offset: 0px;

	&:hover {
		background-image: linear-gradient(135deg, #eadeca, #c8b195, #eadeca);
		color: #0f172a;
	}
}
