<div class="calender-card">
	<div class="calender-header">
		<span class="month-title"
			>{{ months[curerntlySelectedMonth] }} {{ currentlySelectedYear }}</span
		>

		<div class="header-nav">
			<button (click)="prevMonth()" class="nav-btn">Prev</button>
			<div class="nav-divider"></div>
			<button (click)="nextMonth()" class="nav-btn">Next</button>
		</div>
	</div>

	<div class="calender-body">
		<button (click)="prevMonth()" class="arrow-btn arrow-left">
			<i class="fa-solid fa-angle-left font-bold"><</i>
		</button>

		<div class="days-grid">
			<div class="weekday-header">MO</div>
			<div class="weekday-header">DI</div>
			<div class="weekday-header">MI</div>
			<div class="weekday-header">DO</div>
			<div class="weekday-header">FR</div>
			<div class="weekday-header">SA</div>
			<div class="weekday-header">SO</div>

			@for (date of dates; track $index) {
				@if (date === 0) {
					<app-calender-date [isEmpty]="true"></app-calender-date>
				} @else {
					@if (
						date == selectedDate?.getDate() &&
						curerntlySelectedMonth == selectedDate?.getMonth() &&
						currentlySelectedYear == selectedDate?.getFullYear()
					) {
						<app-calender-date
							class="gradient-button"
							(clicked)="dateClicked($event)"
							[isEmpty]="false"
							[date]="date"
						></app-calender-date>
					} @else {
						<app-calender-date
							(clicked)="dateClicked($event)"
							class="calender-date"
							[isEmpty]="false"
							[date]="date"
						></app-calender-date>
					}
				}
			}
		</div>

		<button (click)="nextMonth()" class="arrow-btn arrow-right">
			<i class="fa-solid fa-angle-right font-bold">></i>
		</button>
	</div>
</div>
